---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";

import { useTranslations } from "@/i18n";

const t = useTranslations();

type Props = {
  title: string;
  description: string;
  titleTemplate?: string;
  robots?: string;
  article?: {
    publishedTime: Date;
    modifiedTime?: Date;
    authors: string[];
    authorTwitter?: string;
    tags: string[];
    cover: CollectionEntry<"blog">["data"]["cover"];
  };
};
---

<html lang={t("siteMetadata.language")} class="scroll-smooth">
  <BaseHead {...Astro.props} />
  <body
    class="bg-white text-black antialiased dark:bg-gray-950 dark:text-white"
  >
    <SectionContainer>
      <div class="flex h-screen flex-col justify-between font-sans">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </SectionContainer>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        let codeBlocks = Array.from(document.querySelectorAll("pre"));

        codeBlocks.forEach((codeBlock) => {
          let wrapper = document.createElement("div");
          wrapper.style.position = "relative";

          let copyButton = document.createElement("button");
          copyButton.className = "copy-code";
          copyButton.innerHTML = "Copy Code";

          wrapper.appendChild(codeBlock.cloneNode(true));
          wrapper.appendChild(copyButton);

          codeBlock.replaceWith(wrapper);

          copyButton.addEventListener("click", async () => {
            await copyCode(wrapper, copyButton);
          });
        });

        async function copyCode(wrapper, button) {
          let code = wrapper.querySelector("pre code");
          let text = code ? code.innerText : wrapper.querySelector("pre").innerText;

          await navigator.clipboard.writeText(text);

          // visual feedback that task is completed
          button.innerText = "Code Copied";

          setTimeout(() => {
            button.innerText = "Copy Code";
          }, 700);
        }
      });
    </script>
  </body>
</html>
